.categories {
  width: 100%;
  padding: var(--spacing-xl) var(--spacing-xs);
  margin: 0;
}

.container {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-sm);
  }
}

.card {
  position: relative;
  min-height: 575px;
  padding: 32px 66px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.cardContent {
  z-index: 2;
  color: var(--color-grey-100);
}

.cardTitle {
  margin-bottom: 32px;
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-5xl);
  font-weight: var(--font-weight-bold);
}

.cardLink {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  color: inherit;
}

