.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 535px;
    padding: 40px;
}

.header {
    text-align: center;
    margin-bottom: 51px;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-5xl);
    margin-bottom: 20px;
}

.subtitle {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 50px;
}