.newsCard {
  position: relative;
}

.newsCard:not(:last-child) .divider {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-400);
}

.cardContent {
  min-height: 365px;
  padding: var(--spacing-2xl) 0 var(--spacing-md) 80px;
  display: flex;
  gap: var(--spacing-3xl);
}

.textSection {
  color: var(--color-grey-900);
}

.title {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
  font-weight: var(--font-weight-bold);
}

.description {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-weight: var(--font-weight-semibold);
}

.rightSection {
  min-width: 585px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-md);
  background-color: var(--color-primary-500);
}

.image {
  object-fit: cover;
}

.images:has(> .imageContainer:only-child) {
  display: block;
}

.images:has(> .imageContainer:only-child) .imageContainer {
  width: 100%;
  height: 100%;
}

.images:has(> .imageContainer:nth-child(2):last-child) {
  display: flex;
}

.images:has(> .imageContainer:nth-child(2):last-child) .imageContainer {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.images:has(> .imageContainer:nth-child(3):last-child) {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.images:has(> .imageContainer:nth-child(3):last-child) .imageContainer:first-child {
  width: 100%;
  height: 65%;
}

.images:has(> .imageContainer:nth-child(3):last-child) .imageContainer:nth-child(2),
.images:has(> .imageContainer:nth-child(3):last-child) .imageContainer:nth-child(3) {
  flex: 1;
  min-width: 0;
  height: calc(35% - var(--spacing-xs));
  width: calc(50% - var(--spacing-xs) / 2);
}

.stats {
  display: flex;
  justify-content: space-between;
}

.buttonsRow {
  color: var(--color-primary-600);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.iconButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: var(--color-primary-600);
}

.iconCounter {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.commentSection {
  max-height: 0;    
  overflow: hidden;
  pointer-events: none;
  transition: max-height 0.3s linear;
}

.commentSectionShow {
  max-height: 800px;
  pointer-events: all;
}
