.searchContainer {
  width: 100%;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchButton {
  position: absolute;
  left: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;

  color: var(--color-custom) /* var(--color-primary-500) */;
  cursor: pointer;
  
  width: 24px;
  height: 24px;
}

.searchButton:hover,
.searchButton:active,
.searchButton:focus-visible {
  color: var(--color-grey-600);
}

.input {
  background-color: var(--color-custom) /* var(--color-primary-200) */;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-3xl);
  
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-grey-600);
}

.input:active,
.input:focus {
    border-color: var(--color-grey-500);
}

.input::placeholder,
.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input::-ms-input-placeholder {
  color: var(--color-grey-400);
}

.clearButton {
  position: absolute;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;

  color: var(--color-custom) /* var(--color-primary-500) */;
  cursor: pointer;
  
  width: 24px;
  height: 24px;
}

.clearButton:hover,
.clearButton:active,
.clearButton:focus-visible {
  color: var(--color-grey-600);
}
