.page {
    background-color: var(--color-custom) /* var(--color-primary-200) */;
    border-radius: var(--radius-xl);
    padding: var(--spacing-md);
}

.header {
    display: flex;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.meta {
    display: flex;
    gap: var(--spacing-md);
}

.stats {
    display: flex;
    gap: var(--spacing-md);
}