.inputContainer {
  width: 100%;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  background-color: var(--color-primary-100);
  border: 1px solid var(--color-primary-500);
  border-radius: 25px;
  outline: none;
  
  width: 100%;
  padding: 11px 21px;
  
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  color: var(--color-grey-600);
}

.input::placeholder,
.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input::-ms-input-placeholder {
  color: var(--color-grey-400);
}

.clearButton {
  position: absolute;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;

  color: var(--color-primary-500);
  cursor: pointer;
  
  width: 24px;
  height: 24px;
}

.clearButton:hover,
.clearButton:active,
.clearButton:focus-visible {
  color: var(--color-primary-600);
}
