.promo {
  width: 100%;
  padding: var(--spacing-xl) 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-2xl)
}

.title {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-5xl);
  color: var(--color-grey-800);
  font-weight: var(--font-weight-bold);
  text-align: center;
}