.header {
    margin-bottom: var(--spacing-2xl);
}

.headerTop,
.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerButton {
    padding: var(--spacing-xs) var(--spacing-md);
}

.headerTop {
    margin-bottom: var(--spacing-lg);
}

.topButtons {
    display: flex;
    gap: var(--spacing-xs);
}

.searchInput {
    max-width: 300px;
}

.treeContainer {
    background-color: var(--color-primary-200);
    border-radius: var(--radius-xl);
    padding: var(--spacing-xs) 0;
    overflow: hidden;
}

.columnsHeader {
    padding: var(--spacing-sm) var(--spacing-xl);
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
    font-weight: var(--font-weight-bold);
}

.columnsHeader::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary-500);
}

.emptyState {
    padding: var(--spacing-lg);
}