.row {
    display: flex;
    justify-content: start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-xl);
    position: relative;
}

.rowChild {
    background-color: var(--color-primary-400);
}

.row:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary-300);
}

.rowContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.name {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-bold);
}

.actions {
    display: flex;
    gap: var(--spacing-xl);
}

.universalButtons {
    display: flex;
    gap: var(--spacing-xs);
}

.actionButton {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--color-primary-800);
    line-height: 0;
}

.chevronHidden {
    color: transparent
}

.chevron.expanded {
    transform: rotate(180deg);
}