.section {
  width: 100%;
  padding: var(--spacing-2xl) 0;
}

.container {
  position: relative;
  width: 100%;
  height: 315px;
  border-radius: var(--radius-xl);
  overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.card.active {
  opacity: 1;
  pointer-events: all;
}

.image {
  object-fit: cover;
  z-index: var(--z-default);
}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-above);
  padding: var(--spacing-xl);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 17.79%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.title {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-grey-100);
}

.indicators {
  display: flex;
  gap: var(--spacing-xs);
}

.indicator {
  width: 14px;
  height: 14px;
  border-radius: var(--radius-full);
  background-color: transparent;
  border: 2px solid var(--color-grey-100);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.indicator.activeIndicator {
  background-color: var(--color-grey-100);
}